{% load workspaces thumbnail i18n %}
{# header #}
<div><img src="{{ symbol_url }}"/>&nbsp;</div>
{# body #}
<div>
{% for display_object in display_group %}
<strong><a href="http://www.twitter.com/{{ display_object.name }}">@{{ display_object.name }}</a></strong>&nbsp;
{{ display_object.object.time|timesince }} {% trans "geleden" %}
<p>{{ display_object.tweet|urlize }}</p>
{% thumbnail display_object.media_url "320x200" crop="center" as im %}<img src="{{ im.url }}">{% empty %}{% endthumbnail %}
{% endfor %}
</div>
